In [1]:
import pandas as pd
df = pd.read_csv('claims_data.csv')
df.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [2]:
df = pd.read_csv('food_listings_data.csv')
df.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [3]:
df

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner
...,...,...,...,...,...,...,...,...,...
995,996,Fish,15,3/30/2025,467,Catering Service,Phillipsfort,Vegan,Breakfast
996,997,Fish,22,3/18/2025,35,Grocery Store,Andersonmouth,Vegetarian,Breakfast
997,998,Fruits,6,3/22/2025,444,Restaurant,New Billy,Non-Vegetarian,Dinner
998,999,Pasta,15,3/30/2025,702,Supermarket,Lake Mistyton,Non-Vegetarian,Lunch
999,1000,Salad,18,3/19/2025,155,Supermarket,Charlesview,Non-Vegetarian,Dinner

In [4]:
df = pd.read_csv('providers_data.csv')
df

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775

In [5]:
df = pd.read_csv('receivers_data.csv')
df

,Receiver_ID,Name,Type,City,Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Receiver_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   City         1000 non-null   object
 4   Contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

Add csv files to the sql database.
import pandas as pd
import mysql.connector
import os

# List of CSV files and their corresponding table names
csv_files = [('claims_data.csv','claims_data'),('food_listings_data.csv','food_listings_data'),('providers_data.csv','providers_data'),('receivers_data.csv','receivers_data')  # Added payments.csv for specific handling
]

# Connect to the MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='admin@123',
    database='food_wastage_solutn'
)
cursor = conn.cursor()

# Folder containing the CSV files
folder_path = 'C:/Users\ADMIN/Documents/project_1data'

def get_sql_type(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'

for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Replace NaN with None to handle SQL NULL
    df = df.where(pd.notnull(df), None)
    
    # Debugging: Check for NaN values
    print(f"Processing {csv_file}")
    print(f"NaN values before replacement:\n{df.isnull().sum()}\n")

    # Clean column names
    df.columns = [col.replace(' ', '_').replace('-', '_').replace('.', '_') for col in df.columns]

    # Generate the CREATE TABLE statement with appropriate data types
    columns = ', '.join([f'`{col}` {get_sql_type(df[col].dtype)}' for col in df.columns])
    create_table_query = f'CREATE TABLE IF NOT EXISTS `{table_name}` ({columns})'
    cursor.execute(create_table_query)

    # Insert DataFrame data into the MySQL table
    for _, row in df.iterrows():
        # Convert row to tuple and handle NaN/None explicitly
        values = tuple(None if pd.isna(x) else x for x in row)
        sql = f"INSERT INTO `{table_name}` ({', '.join(['`' + col + '`' for col in df.columns])}) VALUES ({', '.join(['%s'] * len(row))})"
        cursor.execute(sql, values)

    # Commit the transaction for the current CSV file
    conn.commit()

# Close the connection
conn.close()

In [5]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\admin\proj1\myenv\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymysql

# Step 1: Connect to your MySQL database
connection = pymysql.connect(
    host='localhost',         # or your DB host
    user='root',     # your MySQL username
    password='admin@123', # your MySQL password
    database='food_wastage_solutn'   # the database you want to query
)

1. query to write How many food providers and receivers are there in each city

In [3]:
import pymysql
import pandas as pd

cur = connection.cursor()
query = """

            SELECT 
                l.Location,
                COUNT(p.Provider_ID) AS Provider_count,
                COUNT(r.Receiver_ID) AS Receiver_count
            FROM food_wastage_solutn.food_listings_data l
            LEFT JOIN providers_data p ON p.Provider_ID = l.Provider_ID
            LEFT JOIN claims_data c ON c.Food_ID = l.Food_ID
            LEFT JOIN receivers_data r ON r.Receiver_ID = c.Receiver_ID
            GROUP BY l.Location

        """
cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["Location","Provider_count","Receiver_count"])
print(df)

                 Location  Provider_count  Receiver_count
0        South Kellyville               2               2
1              West James               2               0
2             Lake Regina               3               2
3               Kellytown               2               0
4              Garciaport               1               0
..                    ...             ...             ...
619  Port Daniellechester               1               0
620         Andersonmouth               2               2
621             New Billy               1               1
622           Charlesview               1               0
623           Heatherside               1               1

[624 rows x 3 columns]

2. query for Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

In [4]:
cur = connection.cursor()

# Step 3: Define and execute query
query = """
SELECT p.Type, COUNT(p.Provider_ID) AS Provider_count
FROM providers_data p
GROUP BY p.Type
ORDER BY Provider_count DESC
LIMIT 1;
"""
cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["Type", "Provider_count"])

# Step 5: Preview result
print(df.head())

          Type  Provider_count
0  Supermarket             262

3. query for What is the contact information of food providers in a specific city?

In [5]:
cur = connection.cursor()

# Step 3: Define and execute query
query = """
SELECT l.Location, p.Provider_ID, p.Name, p.Contact, p.Address, p.city
FROM providers_data p
JOIN food_listings_data l ON l.Provider_ID = p.Provider_ID
WHERE l.Location = 'South Kellyville';
"""
cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["Location", "Provider_ID", "Name", "Contact", "Address", "city"])

# Step 5: Preview result
print(df)

           Location  Provider_ID           Name        Contact  \
0  South Kellyville          110  Figueroa-Soto  (599)442-0494

                                         Address              city
0  113 Donna Pass\nPort Michaelchester, NE 39187  South Kellyville

4. query for Which receivers have claimed the most food?

In [6]:
cur = connection.cursor()

# Step 3: Define and execute query
query = """
SELECT Receiver_ID, Name, claim_count
FROM (
    SELECT r.Receiver_ID, r.Name, COUNT(c.Claim_ID) AS claim_count,
           RANK() OVER (ORDER BY COUNT(c.Claim_ID) DESC) AS rank_val
    FROM receivers_data r
    JOIN claims_data c ON c.Receiver_ID = r.Receiver_ID
    GROUP BY r.Receiver_ID, r.Name
) AS ranked
WHERE rank_val = 1
ORDER BY Receiver_ID;
"""
cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["Receiver_ID", "Name", "claim_count"])

# Step 5: Preview result
print(df)

   Receiver_ID               Name  claim_count
0          276       Scott Hunter            5
1          371  William Frederick            5
2          742       Matthew Webb            5
3          800     Anthony Garcia            5

5. query for What is the total quantity of food available from all providers?

In [8]:
cur=connection.cursor()
query = """select sum(l.Quantity) as total_food_qty 
from food_listings_data l
join providers_data p on p.Provider_ID=l.Provider_ID
order by total_food_qty
"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["total_food_qty"])

print(df.head())

  total_food_qty
0          25794

6. query for Which city has the highest number of food listings?

In [22]:
cur=connection.cursor()
query = """SELECT Location, foodlist_count
FROM (
    SELECT 
        Location,
        COUNT(*) AS foodlist_count,
        RANK() OVER (ORDER BY COUNT(*) DESC) AS rank_val
    FROM food_listings_data
    GROUP BY Location
) AS ranked_locations
WHERE rank_val = 1
ORDER BY Location;
"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Location","foodlist_count"])

print(df)

        Location  foodlist_count
0      New Carol               6
1  South Kathryn               6

7. query for What are the most commonly available food types?

In [23]:

cur=connection.cursor()
query = """select Food_Type,COUNT(*) AS listing_count
FROM food_listings_data
GROUP BY Food_Type
ORDER BY listing_count DESC;
"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Food_Type","listing_count"])

print(df)

        Food_Type  listing_count
0      Vegetarian            336
1           Vegan            334
2  Non-Vegetarian            330

8. How many food claims have been made for each food item?

In [24]:
cur=connection.cursor()
query = """SELECT l.Food_Name, COUNT(c.Claim_ID) AS total_claims
FROM food_listings_data l
left join claims_data c on c.Food_ID= l.Food_ID
GROUP BY  l.Food_Name
ORDER BY total_claims DESC;

"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Food_Name", "total_claims"])

print(df)

    Food_Name  total_claims
0        Rice           122
1        Soup           114
2       Dairy           110
3        Fish           108
4       Salad           106
5     Chicken           102
6       Bread            94
7       Pasta            87
8  Vegetables            86
9      Fruits            71

9. Which provider has had the highest number of successful food claims?

In [9]:
cur=connection.cursor()
query = """
SELECT p.Provider_ID,p.Name,count(c.Claim_ID) as claim_count
FROM providers_data p
inner join food_listings_data l on l.Provider_ID = p.Provider_ID
inner join claims_data c on c.Food_ID= l.Food_ID
where c.Status = 'Completed'
GROUP BY  p.Provider_ID,p.Name
order by claim_count desc
limit 5

"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Provider_ID","Name", "claim_count"])

print(df.head())

   Provider_ID                         Name  claim_count
0          709                  Barry Group            5
1          241  Harper, Blake and Alexander            4
2          596    Barnes, Castro and Curtis            4
3          752            Butler-Richardson            4
4          967                   Miller Inc            4

10. What percentage of food claims are completed vs. pending vs. canceled?

In [26]:
cur=connection.cursor()

query = """
SELECT 
    Status,
    COUNT(*) AS claim_count,
    ROUND((COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims_data)), 2) AS percentage
FROM claims_data
GROUP BY Status;
"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Status", "claim_count","percentage"])

print(df.head())

      Status  claim_count percentage
0    Pending          325      32.50
1  Cancelled          336      33.60
2  Completed          339      33.90

11. What is the average quantity of food claimed per receiver?

In [28]:
cur=connection.cursor()

query = """
SELECT r.Receiver_ID,r.Name,ROUND(AVG(l.Quantity), 2) AS avg_quantity_claimed
 from food_wastage_solutn.receivers_data r
join claims_data c on c.Receiver_ID=r.Receiver_ID 
join food_listings_data l on l.Food_ID=c.Food_ID
group by r.Receiver_ID,r.Name
order by avg_quantity_claimed desc
"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Receiver_ID","Name","avg_quantity_claimed"])

print(df)

     Receiver_ID                Name avg_quantity_claimed
0            282          Lisa Pitts                50.00
1            567        Peggy Knight                50.00
2            429     Daniel Williams                50.00
3            739         Nancy Jones                50.00
4            616  Christopher Wright                50.00
..           ...                 ...                  ...
619          214     Corey Rodriguez                 2.00
620          766       John Reynolds                 2.00
621          746      Kenneth Barnes                 2.00
622          765       Joshua Hooper                 1.00
623          904        Amanda Kline                 1.00

[624 rows x 3 columns]

12. Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

In [29]:
cur=connection.cursor()

query = """
SELECT l.Meal_Type,count(c.Claim_ID) as claim_count
FROM food_listings_data l 
inner join claims_data c on c.Food_ID= l.Food_ID
GROUP BY  l.Meal_Type
order by claim_count desc
limit 1

"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Meal_Type", "claim_count"])

print(df.head())

   Meal_Type  claim_count
0  Breakfast          278

13. What is the total quantity of food donated by each provider?

In [30]:
cur=connection.cursor()


query = """
SELECT p.Provider_ID,p.Name,sum(l.Quantity) as food_qty
FROM providers_data p
inner join food_listings_data l on l.Provider_ID = p.Provider_ID
GROUP BY  p.Provider_ID,p.Name
order by food_qty desc

"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Provider_ID","Name","food_qty"])

print(df)

     Provider_ID                             Name food_qty
0            709                      Barry Group      179
1            306       Evans, Wright and Mitchell      158
2            655                      Smith Group      150
3            315                       Nelson LLC      142
4            678                       Ruiz-Oneal      140
..           ...                              ...      ...
632          258                   Gonzales-Moore        1
633          745  Martinez, Armstrong and Carroll        1
634          849                   Brown and Sons        1
635          870                        Mcgee PLC        1
636          939                   Reyes and Sons        1

[637 rows x 3 columns]

14. Which food items are most frequently claimed before their expiry date?

In [ ]:
cur = connection.cursor()

query = """
SELECT fl.Food_Name,COUNT(c.Claim_ID) AS Claims_Before_Expiry
FROM claims_data c
JOIN food_listings_data fl ON c.Food_ID = fl.Food_ID
WHERE c.Timestamp < fl.Expiry_Date
GROUP BY fl.Food_Name
ORDER BY Claims_Before_Expiry DESC
LIMIT 10;
"""
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Food_Name","Claims_Before_Expiry"])

print(df)

    Food_Name  Claims_Before_Expiry
0        Rice                    79
1        Fish                    73
2       Dairy                    67
3     Chicken                    67
4        Soup                    63
5       Salad                    61
6       Bread                    56
7       Pasta                    52
8  Vegetables                    51
9      Fruits                    45

15. Which cities have the highest ratio of claims to listings?

In [3]:
cur = connection.cursor()

query = """ SELECT 
    fl.location,
    COUNT(DISTINCT c.Claim_ID) AS Total_Claims,
    COUNT(DISTINCT fl.Food_ID) AS Total_Listings,
    ROUND(COUNT(DISTINCT c.Claim_ID) / COUNT(DISTINCT fl.Food_ID), 2) AS Claim_to_Listing_Ratio
FROM 
    food_listings_data fl
LEFT JOIN 
    claims_data c ON fl.Food_ID = c.Food_ID
GROUP BY 
    fl.Location
HAVING 
    Total_Listings > 0
ORDER BY 
    Claim_to_Listing_Ratio DESC;
    """
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["location","Total_Claims","Total_Listings","Claim_to_Listing_Ratio"])

print(df)

                location  Total_Claims  Total_Listings Claim_to_Listing_Ratio
0         New Baileyfort             4               1                   4.00
1             Port Karen             4               1                   4.00
2             Roachhaven             4               1                   4.00
3    South Justinborough             4               1                   4.00
4       West Billborough             4               1                   4.00
..                   ...           ...             ...                    ...
619           West Kelli             0               1                   0.00
620         West Matthew             0               1                   0.00
621      West Samuelfurt             0               2                   0.00
622         Wheelermouth             0               1                   0.00
623          Williamland             0               1                   0.00

[624 rows x 4 columns]

16. What is the distribution of food types (Vegetarian, Non-Vegetarian, Vegan) claimed by receiver type (NGO, Individual, etc.)?

In [5]:
cur = connection.cursor()

query = """ SELECT 
    r.type as Receiver_Type,
    fl.Food_Type,
    COUNT(*) AS Total_Claims
FROM 
    claims_data c
JOIN 
    food_listings_data fl ON c.Food_ID = fl.Food_ID
JOIN 
    receivers_data r ON c.Receiver_ID = r.Receiver_ID
GROUP BY 
    r.type, fl.Food_Type
ORDER BY 
    r.type, Total_Claims DESC;
    """
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Receiver_Type","Food_Type","Total_Claims"])

print(df)

   Receiver_Type       Food_Type  Total_Claims
0        Charity  Non-Vegetarian            91
1        Charity      Vegetarian            90
2        Charity           Vegan            87
3     Individual  Non-Vegetarian            85
4     Individual      Vegetarian            74
5     Individual           Vegan            71
6            NGO      Vegetarian           108
7            NGO  Non-Vegetarian            84
8            NGO           Vegan            80
9        Shelter           Vegan            81
10       Shelter      Vegetarian            78
11       Shelter  Non-Vegetarian            71

17. What is the distribution percentages of food types (Vegetarian, Non-Vegetarian, Vegan) claimed by each receiver type (NGO, Individual, etc.)

In [10]:
cur = connection.cursor()

query = """ SELECT 
    r.Type as Receiver_Type,
    fl.Food_Type,
    COUNT(*) AS Total_Claims,
    ROUND(
        COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY r.Type), 2
    ) AS Percentage_Within_Receiver
FROM 
    claims_data c
JOIN 
    food_listings_data fl ON c.Food_ID = fl.Food_ID
JOIN 
    receivers_data r ON c.Receiver_ID = r.Receiver_ID
GROUP BY 
    r.Type, fl.Food_Type
ORDER BY 
    Percentage_Within_Receiver DESC;
    """
cur.execute(query)

data = cur.fetchall()
df = pd.DataFrame(data, columns=["Receiver_Type","Food_Type","Total_Claims","Percentage_Within_Receiver"])

print(df)

   Receiver_Type       Food_Type  Total_Claims Percentage_Within_Receiver
0            NGO      Vegetarian           108                      39.71
1     Individual  Non-Vegetarian            85                      36.96
2        Shelter           Vegan            81                      35.22
3        Charity  Non-Vegetarian            91                      33.96
4        Shelter      Vegetarian            78                      33.91
5        Charity      Vegetarian            90                      33.58
6        Charity           Vegan            87                      32.46
7     Individual      Vegetarian            74                      32.17
8            NGO  Non-Vegetarian            84                      30.88
9     Individual           Vegan            71                      30.87
10       Shelter  Non-Vegetarian            71                      30.87
11           NGO           Vegan            80                      29.41

18. which receiver type have highest receivers?

In [13]:
cur = connection.cursor()

# Step 3: Define and execute query
query = """
SELECT r.Type, COUNT(r.Receiver_ID) AS Receiver_count
FROM receivers_data r
GROUP BY r.Type
ORDER BY Receiver_count DESC
LIMIT 1;
"""
cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["Type", "Receiver_count"])

# Step 5: Preview result
print(df.head())

  Type  Receiver_count
0  NGO             274

19. Which city have heighest number of food claims.

In [21]:
cur = connection.cursor()

# Step 3: Define and execute query
query = """
SELECT city, claim_count
FROM (
    SELECT r.city,
           COUNT(c.Claim_ID) AS claim_count,
           RANK() OVER (ORDER BY COUNT(c.Claim_ID) DESC) AS rk
    FROM receivers_data r
    INNER JOIN claims_data c ON c.Receiver_ID = r.Receiver_ID
    GROUP BY r.city
) AS ranked
WHERE rk = 1;
"""

cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["city", "claim_count"])

# Step 5: Preview result
print(df)

           city  claim_count
0    Smithshire            5
1    Emilymouth            5
2      Greenton            5
3  Port Richard            5
4     Port Dean            5
5    West David            5
6     Brownbury            5

20. location wise number of food list and claims made.

In [23]:
cur = connection.cursor()

# Step 3: Define and execute query
query = """select l.location, count(l.Food_ID) as food_listing_count, count(c.Claim_ID) claim_count
FROM food_listings_data l
left join claims_data c on c.Food_ID= l.Food_ID
GROUP BY l.Location
order by food_listing_count desc
"""

cur.execute(query)

# Step 4: Fetch and load into DataFrame
data = cur.fetchall()
df = pd.DataFrame(data, columns=["city","food_listing_count", "claim_count"])

# Step 5: Preview result
print(df)

                     city  food_listing_count  claim_count
0        East Heatherport                  13           12
1               New Carol                  10            7
2        Lake Andrewmouth                   9            9
3               Jamesfurt                   9            9
4           South Kathryn                   9            7
..                    ...                 ...          ...
619        Lake Coryhaven                   1            1
620  Port Daniellechester                   1            0
621             New Billy                   1            1
622           Charlesview                   1            0
623           Heatherside                   1            1

[624 rows x 3 columns]